/* 
  1TDSPX - Rafael Chaves da Silva - RM99643
*/

:root{
  --color-brand-primary: #1d99ff;
  --color-brand-secondary: #ff455b;
  
  --color-feedback-error: #f1526e;
  --color-feedback-info: #3da4f3;
  --color-feedback-success: #00c689;
  --color-feedback-warning: #fdbf35;

  --color-text-dark: #708aa1;
  --color-text-light: #aebdc9;
  
  --color-interface-light: #f1f4f6;
  --color-interface-dark: #d5e0ec;
  
  --color-common-light: #ffffff;
  --color-common-dark: #000000;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;
}

body{
  font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: var(--color-interface-light);
}

h1, h2, h3, 
h4, h5, h6 {
  font-weight: normal;
}

header{
  background-color: var(--color-interface-light);
}

.header-item{
  display: flex;
  justify-content: space-between;
}

.button{
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.title{
  color: var(--color-text-light);
}

.subtitle{
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-brand-primary);
}

.container{
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.avatar{
  position: absolute;
  right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
  transform-origin: right top;
}

.menu-style{
  position: absolute;
  left: auto;
}

.form-task{
  margin-top: var(--spacing-large);
}

.form-task-input{
  border: 1px solid var(--color-text-dark);
  border-radius: 2px;
}

.container-task-style{
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  background-color: var(--color-common-light);
  border-top: 1px solid var(--color-text-dark);
  margin-top: 53px;
}

.form-task-label{
  color: var(--color-text-dark);
  font-weight: 500;
}

.form-task-input{
  height: 27px;
}

input[type="checkbox"]{
  background-color: var(--color-common-light);
}

.form-task-button{
  background-color: var(--color-feedback-success);
  color: var(--color-common-light);
  border-radius: 2px;
}

.btn-style-one{
  position: absolute;
  left: auto;
  top: auto;
  color: var(--color-text-dark);
}

.btn-style-two{
  position: absolute;
  left: auto;
  top: auto;
  color: var(--color-text-dark);
}

.symbols-edit-style{
  position: relative;
  margin-right: 20px;
  margin-top: auto;
}

.symbols-delete-style{
  margin-right: auto;
  margin-top: auto;
}

.p-style{
  font-weight: 300;
  position: absolute;
  left: auto;
  top: auto;
  margin: auto;
}

.p-one{
  margin-top: auto;
}

.p-two{
  margin-top: auto;
}

.checkbox-one{
  margin-top: auto;
}

.checkbox-two{
  margin-top: auto;
}

#checkbox-style{
  position: relative;
  left: auto;
  top: auto;
}


/*Começo das médias queries.*/

@media screen and (min-width: 279px){
  body{
    margin: 0px;
  }
  .Header-style{
    height: 37px;
  }
  .header-item{
    height: 40px;
    margin-top: 10px;
  }
  .avatar{
    transform: scale(0.3);
    right: 8px;
  }
  .menu-style{
    padding: 0px;
  }
  .container-style{
    margin-left: 9px;
    margin-right: 0px;
  }
  .title{
    margin: 0px;
    font-size: 1.3em;
    line-height: 1.5;
    font-weight: 600;
  }
  .subtitle{
    margin: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  .form-task{
    margin-top: 25px;
    display: inline-block;
  }
  .form-task-label, .form-task-input{
    display: inline-block;
    vertical-align: middle;
  }
  .form-task-label{
    font-size: 0.8em;
    margin-bottom: 0px;
  }
  .form-task-input{
    position: absolute;
    top: 139px;
    left: 8px;
  }
  .form-task-button{
    position: absolute;
    top: 140px;
    left: 186px;
    padding: 1px 5px;
  }
  .task-item{
    height: 58px;
  }
  .container-task-style{
    border-top-right-radius: 25px;
    overflow-y: hidden;
  }
  .p-style{
    width: 100px;
    font-size: 0.6em;
    left: 25px;
    top: 218px;
  }
  .p-two{
    margin-top: 35px;
  }
  .btn-style-one{
    right: 8px;
    top: 212px;
    padding: 0px;
  }
  .btn-style-two{
    right: 8px;
    top: 247px;
    padding: 0px;
  }
  .symbols-edit-style, .symbols-delete-style{
    transform: scale(0.7);
  }
  .checkbox-two{
    margin-top: 16px;
  }
  #checkbox-style{
    position: relative;
    left: 3px;
    top: 22px;
  }
}

@media screen and (min-width: 360px){
  .menu-style{
    top: 7px;
    left: 7px;
  }
  .avatar{
    transform: scale(0.32);
  }
}

@media screen and (min-width: 375px){
  .form-task-input{
    width: 206px;
    top: 143px;
  }
  .title{
    font-size: 1.4em;
  }
  .subtitle{
    font-size: 0.7em;
  }
  .form-task-label{
    font-size: 1em;
  }
  .form-task-button{
    top: 142px;
    left: 223px;
  }
  .p-style{
    font-size: 0.8em;
  }
  #checkbox-style{
    top: 20px;
  }
}

@media screen and (min-width: 390px){
  .avatar{
    transform: scale(0.27);
  }
}

@media screen and (min-width: 412px){
  .avatar{
    transform: scale(0.28);
  }
}

@media screen and (min-width: 540px){
  .form-task-input{
    width: 244px;
  }
  .form-task-button{
    left: 261px;
  }
}

@media screen and (min-width: 768px){
  .avatar{
    transform: scale(0.3);
  }
  .form-task-button{
    top: 142px;
    left: 262px;
  }
  .p-style{
    width: 158px;
    font-size: 1em;
    top: 216px;
  }
}

@media screen and (min-width: 820px){
  .avatar{
    transform: scale(0.33);
  }
  .title{
    font-size: 1.7em;
  }
  .subtitle{
    font-size: 0.8em;
  }
  .form-task-input{
    width: 272px;
    height: 33px;
    top: 154px;
  }
  .form-task-button{
    top: 154px;
    left: 289px;
    padding: 3px 8px;
  }
  .symbols-edit-style, .symbols-delete-style{
    transform: scale(0.8);
  }
  .btn-style-one, .btn-style-two{
    right: 12px;
  }
  .btn-style-one{
    top: 219px;
  }
  .btn-style-two{
    top: 254px;
  }
  .p-style{
    width: 167px;
    font-size: 1.2em;
  }
  #checkbox-style{
    top: 13px;
  }
}

@media screen and (min-width: 912px){
  .p-style{
    top: 219px;
    width: 255px;
    letter-spacing: var(--spacing-xsmall);
  }
  #checkbox-style{
    top: 15px;
  }
}

@media screen and (min-width: 1440px){
  .avatar{
    transform: scale(0.38);
  }
  .subtitle{
    font-size: 0.9em;
  }
  .form-task-input{
    width: 318px;
    height: 36px;
  }
  .form-task-button{
    top: 155px;
    left: 337px;
    padding: 4px 12px;
  }
  .symbols-edit-style, .symbols-delete-style{
    transform: scale(0.9);
  }
  .symbols-edit-style{
    margin-right: 26px;
  }
}