:root {
  --color-brand-primary: #1d99ff;
  --color-brand-secondary: #ff455b;
  
  --color-feedback-error: #f1526e;
  --color-feedback-info: #3da4f3;
  --color-feedback-success: #00c689;
  --color-feedback-warning: #fdbf35;

  --color-text-dark: #708aa1;
  --color-text-light: #aebdc9;
  
  --color-interface-light: #f1f4f6;
  --color-interface-dark: #d5e0ec;
  
  --color-common-light: #ffffff;
  --color-common-dark: #000000;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;

}

body {
  font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: var(--color-interface-light);
}

h1, h2,
h3, h4,
h5, h6 {
  font-weight: normal;
}

header {
  background-color: var(--color-interface-light);
}

.header-item {
  display: flex;
  justify-content: space-between;
}
/* header > div.container {
  display: flex;
  justify-content: space-between;
} */

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  color: var(--color-text-light);
}

.subtitle {
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-brand-primary);
}

.container {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.Secsty{
  background-color: var(--color-interface-light);
  padding-bottom: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
  transform-origin: right top;
  transform: scale(1.5);
}

.form-task {
  margin-top: var(--spacing-large);
}

.Secont{
  background-color: var(--color-common-light);
}

.bordersty{
  border-top: 1px solid var(--color-interface-dark);
  border-top-right-radius: 80px;
}

.divsty{
  padding-left: 10px;
}

.form-task-label {
  color: var(--color-text-dark);
  font-weight: 500;
}

.form-task-input {
  height: 27px;
  margin-top: -1px;
}

.sit{
  margin-bottom: -50px;
}

.btnaddsty {
  background-color: var(--color-feedback-success);
  color: var(--color-common-light);
  border-radius: 2px;
  padding: 2px 10px;
}

.btncleansty{
  background-color: var(--color-feedback-error);
  color: var(--color-common-light);
  border-radius: 2px;
  padding: 2px 10px;
}

.editbtnsty{
  margin-left: 1445px;
}

.psty{
  margin-left: 80px;
}

.checkboxsty{
  margin-top: 10px;
}

@media screen and (min-width: 279px) {
  .Heasty{
    height: 37px;
  }
  .Conhisty{
    height: 35px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
    transform-origin: right top;
    transform: scale(0.3);
  }
  .menusty{
    padding: 0px;
  }
  .contsty{
    margin-left: 9px;
    margin-right: 0px;
  }
  .title{
    margin: 0px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 600;
  }
  .subtitle{
    margin: 0px;
    font-size: 10px;
    font-weight: 600;
  }
  .frmtksty{
    display: inline-block;
  }
  .lbsty, .insty{
    display: inline-block;
    vertical-align: middle;
  }
  .lbsty{
    font-size: 12px;
    margin-bottom: 0px;
  }
  .insty{
    margin-top: -2px;
  }
}
